.student-layout {
    min-height: 100vh;

    background-color: #eff6ff;
}


.student-main {
    min-height: 100vh;

    margin-left: 270px;

    display: flex;
    flex-direction: column;
}


.student-content {
    flex: 1;

    padding: 32px;

    box-sizing: border-box;
}


/* =========================================
   RESPONSIVE
========================================= */

@media (max-width: 900px) {
    .student-main {
        margin-left: 230px;
    }
}


@media (max-width: 768px) {
    .student-main {
        margin-left: 0;
    }

    .student-content {
        padding: 20px 16px;
    }
}